<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pbma.nearflyexample">

    <!-- Required for Nearby Connections -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- MQTT -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity android:name="de.pbma.nearflyexample.lala.connections.MainActivityWithService" -->
        <!-- <activity android:name="de.pbma.nearflyexample.lala.scenarios.Touchpoint.TouchpointActivity" -->
        <activity android:name="de.pbma.nearflyexample.lala.scenarios.Messenger.MessengerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyDLc8O25IU3s5IHW8YDpQyPr9-RhIbsokw" />

        <service
            android:name="de.pbma.nearfly.NearflyService"
            android:enabled="true" />

        <service
            android:name="de.pbma.notused.nearbymessanger.MQTTService"
            android:enabled="true" />

        <!-- Mqtt Service
        <service android:name="org.eclipse.paho.android.service.MqttService">
        </service> -->

    </application>
</manifest>
