<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.pbma.nearfly" >
    <!-- Permissions the Application Requires -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.nearby.messages.API_KEY"
        android:value="AIzaSyDLc8O25IU3s5IHW8YDpQyPr9-RhIbsokw" />

</manifest>
